
<div class="jumbotron">
    <h1 class="display-3">MongoDB - NodeJS</h1>
    <p class="lead">Aprendiendo desde cero MongoDB</p>
    <hr class="my-2">
    {{!-- <p></p> --}}
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">About</a>
    </p>
</div>

