<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                <h2>Registrar Usuario</h2>
            </div>
            <img src="/img/staff.png" alt="" class="rounded-circle mx-auto d-block m-4">
            <div class="card-body">
                <form action="/users/sign-in" method="POST">
                    <div class="form-group">
                        <h6>Correo Electr&oacute;nico</h6>
                        <input class="form-control" type="text" name="email">
                    </div>
                    <div class="form-group">
                        <h6>Contraseña</h6>
                        <input class="form-control" type="password" name="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Iniciar Sesi&oacute;n</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>